@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{

    background-color: rgb(121, 127, 209);
    color: black
}

main{
    margin-top:20px;
    text-align: center;
}
p::first-letter{
    color:rgb(0, 0, 0);
}
p::selection{
    background-color: rgb(121, 127, 209);
}
button, input:focus{
    background-color: rgb(255, 255, 255);
}
button:hover{
    background-color: rgb(156, 182, 240);
    color: rgb(0, 0, 0);
    text-shadow: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 20px;
    border-bottom: rgb(0, 0, 0);
}