
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(121, 127, 209);
    

}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    margin: 40px;
    
}

.Pai{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 300px;
    gap: 20px;

}

.Filho img{
    width: 98%;
    height: 200px; 
}

.Filho h2 {
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

p{
    color: rgba(0, 0, 0, 0.664);
}

.Filho{
    width: 100%;
    margin-bottom: 60px;
    transition: 0.5s;
}

.Filho:hover{
    transform: scale(120%);
    filter: grayscale(100%);
}